.table {
    border-collapse: collapse;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.form {
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
};
.top {
    vertical-align: top;
    margin-top: 0;
}
.signature {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
    padding: 1rem;
}
.name {
    font-size: 18pt;
}
.email {
    text-decoration: none;
}
.border {
    border-left: solid 1pt;
    padding-left: 8pt;
}
.border-padding {
    padding-right: 9pt;
}
.image {
    max-inline-size: 110pt;
    margin-right: 2pt;
}