.sidebar-column, body .sidebar-box, .sidebar-bottom-column, body .sidebar-buttons, body .sidebar-mobile {
  display: flex;
  flex-direction: column;
}

.sidebar-bottom-column, body .sidebar-buttons, body .sidebar-mobile {
  bottom: 1.5rem;
  position: absolute;
}

.berea-blue-background {
  background-color: #005A8B;
}

.berea-blue {
  color: #005A8B;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body .paper {
  margin-top: 1rem;
  padding: 2rem;
}
body .topbar {
  z-index: 1200;
  background-color: #005A8B;
}
body .sidebar-box {
  width: 140pt;
  margin: 0.5rem;
}
body .main-title {
  text-align: center;
  font-family: "League Spartan";
  font-weight: 600;
}
body .sidebar-buttons {
  width: 140pt;
}
body .sidebar-mobile {
  margin-left: 0.1rem;
}
body .sidebar-drawer {
  overflow: auto;
  box-sizing: border-box;
  z-index: 1100;
}
body .bottom-bar-mobile {
  z-index: 1600;
  background-color: "#BFDBEC90";
  position: fixed;
  height: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}
body .mt-10 {
  margin-top: 10px;
}
body .mb-20 {
  margin-bottom: 20px;
}
