$sidebar-length: 140pt

.sidebar-column
	display: flex
	flex-direction: column
	bottom: 1.5rem
	position: absolute

body
	font-family: 'Georgia', sans-serif
	.paper
		margin-top: 1rem
		padding: 2rem
	.sidebar-typography
		width: $sidebar-length
		display: flex
		flex-direction: column
		margin: 0.5rem
	.sidebar-buttons
		width: $sidebar-length
		@extend .sidebar-column
	.sidebar-mobile
		margin-left: 0.1rem
		@extend .sidebar-column