.mt-0 {
  margin-top: 0pt;
}

.pt-0 {
  padding-top: 0pt;
}

.mb-0 {
  margin-bottom: 0pt;
}

.pb-0 {
  padding-bottom: 0pt;
}

.ml-0 {
  margin-left: 0pt;
}

.pl-0 {
  padding-left: 0pt;
}

.mr-0 {
  margin-right: 0pt;
}

.pr-0 {
  padding-right: 0pt;
}

.m-0 {
  margin: 0pt;
}

.p-0 {
  padding: 0pt;
}

.mt-1 {
  margin-top: 1pt;
}

.pt-1 {
  padding-top: 1pt;
}

.mb-1 {
  margin-bottom: 1pt;
}

.pb-1 {
  padding-bottom: 1pt;
}

.ml-1 {
  margin-left: 1pt;
}

.pl-1 {
  padding-left: 1pt;
}

.mr-1 {
  margin-right: 1pt;
}

.pr-1 {
  padding-right: 1pt;
}

.m-1 {
  margin: 1pt;
}

.p-1 {
  padding: 1pt;
}

.mt-2 {
  margin-top: 2pt;
}

.pt-2 {
  padding-top: 2pt;
}

.mb-2 {
  margin-bottom: 2pt;
}

.pb-2 {
  padding-bottom: 2pt;
}

.ml-2 {
  margin-left: 2pt;
}

.pl-2 {
  padding-left: 2pt;
}

.mr-2 {
  margin-right: 2pt;
}

.pr-2 {
  padding-right: 2pt;
}

.m-2 {
  margin: 2pt;
}

.p-2 {
  padding: 2pt;
}

.mt-3 {
  margin-top: 3pt;
}

.pt-3 {
  padding-top: 3pt;
}

.mb-3 {
  margin-bottom: 3pt;
}

.pb-3 {
  padding-bottom: 3pt;
}

.ml-3 {
  margin-left: 3pt;
}

.pl-3 {
  padding-left: 3pt;
}

.mr-3 {
  margin-right: 3pt;
}

.pr-3 {
  padding-right: 3pt;
}

.m-3 {
  margin: 3pt;
}

.p-3 {
  padding: 3pt;
}

.mt-4 {
  margin-top: 4pt;
}

.pt-4 {
  padding-top: 4pt;
}

.mb-4 {
  margin-bottom: 4pt;
}

.pb-4 {
  padding-bottom: 4pt;
}

.ml-4 {
  margin-left: 4pt;
}

.pl-4 {
  padding-left: 4pt;
}

.mr-4 {
  margin-right: 4pt;
}

.pr-4 {
  padding-right: 4pt;
}

.m-4 {
  margin: 4pt;
}

.p-4 {
  padding: 4pt;
}

.mt-5 {
  margin-top: 5pt;
}

.pt-5 {
  padding-top: 5pt;
}

.mb-5 {
  margin-bottom: 5pt;
}

.pb-5 {
  padding-bottom: 5pt;
}

.ml-5 {
  margin-left: 5pt;
}

.pl-5 {
  padding-left: 5pt;
}

.mr-5 {
  margin-right: 5pt;
}

.pr-5 {
  padding-right: 5pt;
}

.m-5 {
  margin: 5pt;
}

.p-5 {
  padding: 5pt;
}

.mt-10 {
  margin-top: 10pt;
}

.pt-10 {
  padding-top: 10pt;
}

.mb-10 {
  margin-bottom: 10pt;
}

.pb-10 {
  padding-bottom: 10pt;
}

.ml-10 {
  margin-left: 10pt;
}

.pl-10 {
  padding-left: 10pt;
}

.mr-10 {
  margin-right: 10pt;
}

.pr-10 {
  padding-right: 10pt;
}

.m-10 {
  margin: 10pt;
}

.p-10 {
  padding: 10pt;
}

.mt-15 {
  margin-top: 15pt;
}

.pt-15 {
  padding-top: 15pt;
}

.mb-15 {
  margin-bottom: 15pt;
}

.pb-15 {
  padding-bottom: 15pt;
}

.ml-15 {
  margin-left: 15pt;
}

.pl-15 {
  padding-left: 15pt;
}

.mr-15 {
  margin-right: 15pt;
}

.pr-15 {
  padding-right: 15pt;
}

.m-15 {
  margin: 15pt;
}

.p-15 {
  padding: 15pt;
}

.mt-20 {
  margin-top: 20pt;
}

.pt-20 {
  padding-top: 20pt;
}

.mb-20 {
  margin-bottom: 20pt;
}

.pb-20 {
  padding-bottom: 20pt;
}

.ml-20 {
  margin-left: 20pt;
}

.pl-20 {
  padding-left: 20pt;
}

.mr-20 {
  margin-right: 20pt;
}

.pr-20 {
  padding-right: 20pt;
}

.m-20 {
  margin: 20pt;
}

.p-20 {
  padding: 20pt;
}

.mt-25 {
  margin-top: 25pt;
}

.pt-25 {
  padding-top: 25pt;
}

.mb-25 {
  margin-bottom: 25pt;
}

.pb-25 {
  padding-bottom: 25pt;
}

.ml-25 {
  margin-left: 25pt;
}

.pl-25 {
  padding-left: 25pt;
}

.mr-25 {
  margin-right: 25pt;
}

.pr-25 {
  padding-right: 25pt;
}

.m-25 {
  margin: 25pt;
}

.p-25 {
  padding: 25pt;
}

.mt-30 {
  margin-top: 30pt;
}

.pt-30 {
  padding-top: 30pt;
}

.mb-30 {
  margin-bottom: 30pt;
}

.pb-30 {
  padding-bottom: 30pt;
}

.ml-30 {
  margin-left: 30pt;
}

.pl-30 {
  padding-left: 30pt;
}

.mr-30 {
  margin-right: 30pt;
}

.pr-30 {
  padding-right: 30pt;
}

.m-30 {
  margin: 30pt;
}

.p-30 {
  padding: 30pt;
}

.box-spacer {
  height: 40px;
}

.text-centered {
  text-align: center;
}

.sidebar-column, body .sidebar-box, .sidebar-bottom-column, body .sidebar-buttons, body .sidebar-mobile {
  display: flex;
  flex-direction: column;
}

.sidebar-bottom-column, body .sidebar-buttons, body .sidebar-mobile {
  bottom: 1.5rem;
  position: absolute;
}

.berea-blue-background {
  background-color: #005A8B;
}

.berea-blue {
  color: #005A8B;
}

.gray {
  color: #A9A9A9;
}

body .topbar {
  z-index: 1200;
  background-color: #005A8B;
}
body .sidebar-box {
  width: 140pt;
  margin: 0.5rem;
}
body .main-title {
  text-align: center;
  font-family: "League Spartan";
  font-weight: 600;
}
body .sidebar-buttons {
  width: 140pt;
}
body .sidebar-mobile {
  margin-left: 0.1rem;
}
body .sidebar-drawer {
  overflow: auto;
  box-sizing: border-box;
  z-index: 1100;
}
body .bottom-bar-mobile {
  z-index: 1600;
  background-color: "#BFDBEC90";
  position: fixed;
  height: 45px;
  bottom: 0;
  left: 0;
  right: 0;
}
