.sidebar-column, .sidebar-bottom-column {
  display: flex;
  flex-direction: column;
}

.sidebar-bottom-column {
  bottom: 1.5rem;
  position: absolute;
}

.berea-blue-background {
  background-color: #005A8B;
}

.berea-blue {
  color: #005A8B;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body .card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
body .form {
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}
body .top {
  vertical-align: top;
  margin-top: 0;
}
body .signature {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1rem;
}
body .email {
  text-decoration: none;
}
body .border {
  border-left: solid 1pt;
  padding-left: 8pt;
}
body .border-padding {
  padding-right: 9pt;
}
body .image {
  margin-right: 2pt;
}
