body {
  font-family: 'Georgia', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.signature {
  color: #005A8B;
  font-size: 11pt;
}
.name {
  font-size: 18pt;
}